# Backend
backend/target/
backend/.idea/
backend/*.log
no
# Node
node_modules/
client-frontend/node_modules/
admin-frontend/node_modules/

# Angular / React build
dist/
build/

# Env files
.env

# OS
.DS_Store

